.logo-riot1 {
  display: flex;
  padding-left: 64px;
}

.img-fundo {
  position: absolute;
  width: 1401.46px;
  height: 951.06px;
  top: 128.94px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.img-killjoy {
  grid-area: image;
  position: absolute;
  height: 85%;
  transform: translate(215%, -106%);
}

.logo-valorant-2 {
  position: absolute;
  width: 70px;
  transform: translate(1720px, -670px);
}
