.logo-riot1 {
  display: flex;
  padding-left: 64px;
}

.container {
  position: absolute;
  height: 62.5px;
  left: 261px;
  top: 20px;
  border: 2px solid var(--second-color);
  border-radius: 20%;
  background-color: var(--second-color);
  gap: 32px;
}

.logo-valorant1 {
  left: 293px;
  position: absolute;
  width: 70px;
  
}

.img-fundo {
  position: absolute;
  width: 1401.46px;
  height: 951.06px;
  top: 128.94px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-killjoy {
  /* grid-area: image; */
  position: absolute;
  height: 85%;
  transform: translate(0, -57.3%);
}

.logo-valorant {
  flex-direction: column;
  justify-content: center;
  grid-column: 12/12;

}