:root {
  --primary-color: #ff4655;
  --second-color: #0f1923;
  --font-title: "Oswald", sans-serif;
  --font-text: "Poppins", sans-serif;
  --color-text: #ffffff;
  --padding-responsive: 44px;
}

body {
  height: 100vh;
  display: grid;
  background-color: var(--second-color);
  grid-template-rows: 10.5vh 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  user-select: none;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding-left: 64px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background-color: var(--primary-color);
}

main {
  grid-area: main;
  margin-right: var(--padding-responsive);
  display: grid;
  background-image: url(../img/imagem-fundo.png);
  background-size: 75%;
  grid-template-columns: 1fr 0.5fr 1fr;
  margin-top: 25px;
  margin-left: var(--padding-responsive);
  grid-template-areas:
    "description buttom image"
    "footer footer  image";
}

footer {
  grid-area: footer;
  gap: 40px;
  display: grid;
  padding-left: var(--padding-responsive);
  background-color: var(--second-color);
}
